# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/Mirle.iMServer.Model/bin/Debug
/Mirle_GPLC/bin/Debug
/Mirle_GPLC/obj/Debug
/Mirle.iMServer.Model/obj/Debug
packages/*
packages/GMap.NET.Presentation.1.7/lib/net40/GMap.NET.Core.xml
packages/GMap.NET.Presentation.1.7/lib/net40/GMap.NET.WindowsPresentation.xml
packages/GMap.NET.Presentation.1.7/lib/net40/GMap.NET.Core.xml
packages/GMap.NET.Presentation.1.7/lib/net40/GMap.NET.WindowsPresentation.xml
packages/MahApps.Metro.0.14.0.0/lib/net45/MahApps.Metro.XML
/Mirle_GPLC/package
