# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Mirle_GPLC/bin/Debug/System.Windows.Interactivity.dll
Mirle_GPLC/bin/Debug/System.Threading.Tasks.xml
Mirle_GPLC/Styles/VS/Window.xaml
Mirle_GPLC/Styles/VS/TextBox.xaml
Mirle_GPLC/Styles/VS/TextBox.xaml
Mirle_GPLC/Styles/VS/ScrollBar.xaml
Mirle_GPLC/Styles/VS/Colors.xaml
Mirle_GPLC/Styles/Accents/Teal.xaml
Mirle_GPLC/Styles/VS/Styles.xaml
Mirle_GPLC/Styles/VS/TabControl.xaml
Mirle_GPLC/Styles/VS/Menu.xaml
Mirle_GPLC/Styles/Accents/Purple.xaml
Mirle_GPLC/Styles/Accents/Orange.xaml
Mirle_GPLC/Styles/Accents/Mauve.xaml
Mirle_GPLC/Styles/Accents/Violet.xaml
Mirle_GPLC/Styles/VS/Button.xaml
Mirle_GPLC/Styles/Accents/Yellow.xaml
Mirle_GPLC/Styles/Accents/Olive.xaml
Mirle_GPLC/Styles/Accents/Sienna.xaml
Mirle_GPLC/Styles/Accents/Sienna.xaml
Mirle_GPLC/Styles/Accents/Green.xaml
Mirle_GPLC/Styles/Accents/Cyan.xaml
Mirle_GPLC/Styles/VS/ListBox.xaml
Mirle_GPLC/Styles/Accents/Taupe.xaml
Mirle_GPLC/Styles/Accents/Magenta.xaml
*.xaml
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/ensureRedirect.xml
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/System.Threading.Tasks.dll
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net45/_._
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.dll
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.Extensions.Desktop.xml
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.Extensions.Desktop.dll
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.Extensions.dll
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.Extensions.xml
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/Microsoft.Bcl.Async.1.0.168.nupkg
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/lib/net40/Microsoft.Threading.Tasks.xml
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/License-Stable.rtf
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/System.Runtime.xml
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/System.Runtime.dll
Mirle_GPLC/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Mirle_GPLC/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Mirle_GPLC/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/System.IO.xml
Mirle_GPLC/obj/x86/Debug/Styles/VS/TextBox.baml
Mirle_GPLC/obj/x86/Debug/Styles/VS/Styles.baml
Mirle_GPLC/obj/x86/Debug/Styles/VS/ScrollBar.baml
Mirle_GPLC/obj/x86/Debug/Styles/VS/ListBox.baml
Mirle_GPLC/obj/x86/Debug/Styles/VS/Menu.baml
Mirle_GPLC/obj/x86/Debug/Styles/VS/TabControl.baml
Mirle_GPLC/obj/x86/Debug/Styles/VS/Button.baml
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/System.Threading.Tasks.xml
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/lib/net40/System.IO.dll
Mirle_GPLC/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Mirle_GPLC/obj/x86/Debug/Styles/VS/Window.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Yellow.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Teal.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Red.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Purple.baml
Mirle_GPLC/Package/Microsoft.Bcl.Async.1.0.168/License-Stable.rtf
Mirle_GPLC/Package/Microsoft.Bcl.1.1.8/Microsoft.Bcl.1.1.8.nupkg
Mirle_GPLC/obj/x86/Debug/Styles/VS/Colors.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Taupe.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Pink.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Mauve.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Indigo.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Green.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Cyan.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Lime.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Magenta.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Olive.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Orange.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Sienna.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Steel.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Violet.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Crimson.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Blue.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Amber.baml
Mirle_GPLC/obj/x86/Debug/Resources/Icons.g.cs
Mirle_GPLC/obj/x86/Debug/Resources/Icons.g.i.cs
Mirle_GPLC/obj/x86/Debug/Resources/Icons.baml
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC_MarkupCompile.i.cache
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC_MarkupCompile.i.lref
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Cobalt.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/Emerald.baml
Mirle_GPLC/obj/x86/Debug/Styles/Accents/BaseDark.baml
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC_MarkupCompile.lref
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC_Content.g.i.cs
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC.pdb
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC.NET40.csprojResolveAssemblyReference.cache
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC.NET40.csproj.App.config
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC_Content.g.cs
Mirle_GPLC/obj/x86/Debug/Mirle_GPLC_MarkupCompile.cache
Mirle_GPLC/obj/x86/Debug/Styles/Accents/BaseLight.baml
Mirle_GPLC/obj/x86/Debug/MainWindow.g.i.cs
